
<!-- <div class="MainContainer">
    <h1 class="formHeading"></h1>
    <form #myForm="ngForm" class="loginForm">
        <div class="formData">
            <label for="name">Name:</label>
            <div>
                <input type="text" ngModel>
            </div>
        </div>
        <div class="formData">
            <label for="name" ngModel>Email:</label>
            <div>
                <input type="email">
            </div>
        </div>
        <div class="formBtn">

            <button>Login</button>
        </div>
    </form>
</div> -->


<!-- <form #sellerSignUp="ngForm" class="loginForm" (ngSubmit)="submitForm(sellerSignUp)">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" ngModel required>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" ngModel required>


  <button type="submit">Submit</button>
</form> -->


<p>
    <mat-form-field appearance="fill">
      <mat-label>Fill form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  